<!DOCTYPE html>
<html>
<head>
<load href='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' />
<load href='__PUBLIC__/js/findByZip.js' />
<load href='__PUBLIC__/css/stylesheet.css' />
	<title>Find Restaurants</title>
	<meta charset="utf-8">
</head>
<body>
<a href="{:U('index')}" style="position:absolute;right:5px;top: 5px;">Restuarants</a>
<form id="dataForm" action="" method="POST" onsubmit="return validate()">
	<ul>
		<li>
			<input type="number" id="zip" name="zipcode" placeholder="Input your zipcode">
		</li>
		<li>
			<input type="submit" value="Submit">
		</li>
	</ul>
</form>
<div class="result" id="resultForm">
	Restuarants will be shown here
</div>

</body>
</html>
