<!DOCTYPE html>
<html>
<head>
<load href='__PUBLIC__/css/stylesheet.css' />
	<title>Restaurants</title>
	<meta charset="utf-8">
</head>
<body>
	<a href="./" style="position:absolute;right:5px;top: 5px;">Home Page</a>
	<h1>Welcome to restaurants page</h1>
	<p>Firstly, please select a <a href="{:U('findByZip')}">zipcode</a>.</p>
	<p>There is a <a href="{:U('googleMap')}">tool</a> to calculate distance between two locations.<br></p>
	<p>Or you can try to input an <a href="{:U('findByAddr')}">address</a>.</p>

</body>
</html>