<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
</head>
<body>
<form action="{:U('')}" method='post'>
    <table border='0'>
        <tr>
            <td>Your email address</td>
            <td align='center'><input type='text' name='email' size='20' maxlength='20'/></td>
        </tr>
        <tr>
            <td>Your password</td>
            <td align='center'><input type='password' name='password' size='20' maxlength='10'/></td>
        </tr>

        <tr>
            <td colspan='2' align='center'><input type='submit' value='Submit'/></td>
        </tr>
    </table>
</form>
<a href="{:U('Index/index')}">Go back to home page</a>
</body>
</html>